<div class="row skill-row">
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="https://techchronos.com/wp-content/uploads/SszarkLabs/stack-icon/cywBkaGwkMeDAuJbSt1k.png" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="/assets/images/Bootstrap.png" class="skill-icon" style="width: 55%"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container icons-adjustment">
		<img src="https://raw.githubusercontent.com/reactjs/redux/master/logo/logo-title-dark.png" class="skill-icon skill-up"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container" style="padding-top: 1%">
		<img src="/assets/images/VRIcon.png" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container" style="padding-top: 1%">
		<img src="http://aviture.us.com/wp-content/uploads/2014/03/Site-Icons_Technologies-WebGL2.png" class="skill-icon" style="background-color: #fff; border-radius: 15px"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container icons-adjustment">
		<img src="http://www.marinwebtech.com/images/SliderLogos_wGlow/threejs-logo_glow.png" class="skill-icon skill-up"/>
	</div>
</div>
<div class="row skill-row">
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="https://camo.githubusercontent.com/6c85b8e12a64c5d7150873d6d38c193a611e7fa8/687474703a2f2f636f64652d6d6176656e2e636f6d2f696d672f6e6f64652e706e67" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="http://nodejs-cloud.com/img/128px/expressjs.png" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="https://chrysohous.files.wordpress.com/2012/08/redis.png" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="http://www.kylembrown.com/wp-content/uploads/2014/01/postgresql-logo1-921x1024.png" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="https://lh4.ggpht.com/i5V5IeZyYuOnkLuNx8UewwvPx1DeGbMTj5krkecFThuRfvLFzhGpr2x79VfVLwt4fw=w170" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="https://webrtc.org/assets/images/webrtc-logo-vert-retro-dist.svg" class="skill-icon"/>
	</div>
</div>

{{yield}}


{{yield}}
