<div class="row skill-row">
	<div class="col-xs-4 col-md-2 icons-container" style="padding-top: 1%">
		{{#link-to 'interests'}}
		<img src="/assets/images/AI.png" class="skill-icon"/>
		{{/link-to}}
	</div>
	<div class="col-xs-4 col-md-2 icons-container" style="padding-top: 1%">
		{{#link-to 'interests'}}
		<img src="/assets/images/VRIcon.png" class="skill-icon"/>
		{{/link-to}}
	</div>
	<div class="col-xs-4 col-md-2 icons-container" style="padding-top: 1%">
		{{#link-to 'interests'}}
		<img src="/assets/images/CSharp.png" class="skill-icon"/>
		{{/link-to}}
	</div>
	<div class="col-xs-4 col-md-2 icons-container" style="padding-top: 1%">
		{{#link-to 'interests'}}
		<img src="/assets/images/Unity.png" class="skill-icon"/>
		{{/link-to}}
	</div>
	<div class="col-xs-4 col-md-2 icons-container" style="padding-top: 1%">
		{{#link-to 'interests'}}
		<img src="/assets/images/Headphones.png" class="skill-icon"/>
		{{/link-to}}
	</div>
	<div class="col-xs-4 col-md-2 icons-container" style="padding-top: 1%">
		{{#link-to 'interests'}}
		<img src="/assets/images/Controller.png" class="skill-icon"/>
		{{/link-to}}
	</div>
</div>

{{yield}}
