<div class="row project-row">
	{{#link-to 'portfolio.avalon' class='col-xs-12 col-md-2 col-md-offset-1 project-block color-tertiary-light'}}
		<img src="/assets/images/Avalon.png" class="project-img" style="width: 90%"/>
		<p class="project-content">Avalon</p>
	{{/link-to}}
	{{#link-to 'portfolio.reeltime' class='col-xs-12 col-md-2 col-md-offset-2 project-block color-tertiary-light'}}
		<img src="/assets/images/ReelTime.png" class="project-img" style="width: 90%"/>
		<p class="project-content">Reel Time</p>
	{{/link-to}}
	{{#link-to 'portfolio.labit' class='col-xs-12 col-md-2 col-md-offset-2 project-block color-tertiary-light'}}
		<img src="/assets/images/Labit.png" class="project-img"/>
		<p class="project-content">Laugh About It</p>
	{{/link-to}}
</div>
<div class="row project-row">
	<h4 class="heading">Other</h4>
	{{#link-to 'portfolio.other' class='col-xs-12 col-md-2 col-md-offset-1'}}
		<img src="/assets/images/Syrup.png" class="other-project-img"/>
	{{/link-to}}
	{{#link-to 'portfolio.other' class='col-xs-12 col-md-2 col-md-offset-2'}}
		<img src="/assets/images/Music.png" class="other-project-img"/>
	{{/link-to}}
	{{#link-to 'portfolio.other' class='col-xs-12 col-md-2 col-md-offset-2'}}
		<img src="/assets/images/Recast.png" class="other-project-img"/>
	{{/link-to}}
</div>
<div class="row project-row">
	<h4 class="heading">In - Progress</h4>
	{{#link-to 'portfolio.inprogress' class='col-xs-12 col-md-2 col-md-offset-1'}}
		<img src="/assets/images/Smite.png" class="other-project-img"/>
	{{/link-to}}
	{{#link-to 'portfolio.inprogress' class='col-xs-12 col-md-2 col-md-offset-2'}}
		<img src="/assets/images/Pokedex.png" class="other-project-img" style="width: 45%; padding-left: 10%"/>
	{{/link-to}}
	{{#link-to 'portfolio.inprogress' class='col-xs-12 col-md-2 col-md-offset-2'}}
		<img src="/assets/images/Twitch.png" class="other-project-img"/>
	{{/link-to}}
</div>

{{yield}}


{{yield}}
