<div class="row skill-row">
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="http://www.softwareweb.com/static/icon/20120709-164039-Javascript.png" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="/assets/images/HTML.png" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="http://www.myiconfinder.com/uploads/iconsets/8b61de4c84033266e15317a6eb9fda2d-css3.png" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="http://www.programmingscripts.com/wp-content/uploads/2015/12/jquery-icon1.png" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="https://techchronos.com/wp-content/uploads/SszarkLabs/stack-icon/cywBkaGwkMeDAuJbSt1k.png" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container icons-adjustment">
		<img src="https://raw.githubusercontent.com/reactjs/redux/master/logo/logo-title-dark.png" class="skill-icon skill-up icon-fill"/>
	</div>
</div>
<div class="row skill-row">
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="https://www.unifiedinfotech.net/wp-content/uploads/2014/06/angularjs.png" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="http://www.appcoda.com/wp-content/uploads/2015/04/react-native.png" class="skill-icon mobile-skill-adjust-up"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="https://camo.githubusercontent.com/6c85b8e12a64c5d7150873d6d38c193a611e7fa8/687474703a2f2f636f64652d6d6176656e2e636f6d2f696d672f6e6f64652e706e67" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="http://nodejs-cloud.com/img/128px/expressjs.png" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="https://lh4.ggpht.com/i5V5IeZyYuOnkLuNx8UewwvPx1DeGbMTj5krkecFThuRfvLFzhGpr2x79VfVLwt4fw=w170" class="skill-icon"/>
	</div>
</div>
<div class="row skill-row">
	<div class="col-xs-6 col-md-2 icons-container icons-adjustment">
		<img src="http://www.marinwebtech.com/images/SliderLogos_wGlow/threejs-logo_glow.png" class="skill-icon skill-up icon-fill"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="https://webrtc.org/assets/images/webrtc-logo-vert-retro-dist.svg" class="skill-icon mobile-skill-adjust-down"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="/assets/images/D3.png" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container icons-adjustment">
		<img src="http://www.digezz.ch/wp-content/uploads/2015/06/createjs-icon.png" class="skill-icon icon-fill"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="http://megaicons.net/static/img/icons_sizes/182/444/256/ajax-icon.png" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="https://worldvectorlogo.com/logos/heroku.svg" class="skill-icon"/>
	</div>
</div>
<div class="row skill-row">
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="http://orig15.deviantart.net/d72a/f/2010/175/7/4/simple_mysql_icon_by_xaleph.png" class="skill-icon" id="threejs-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="https://chrysohous.files.wordpress.com/2012/08/redis.png" class="skill-icon skill-up"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="https://www.clouda.ca/wp-content/uploads/2013/03/mongodb-logo.png" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="http://www.kylembrown.com/wp-content/uploads/2014/01/postgresql-logo1-921x1024.png" class="skill-icon"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="/assets/images/Bootstrap.png" class="skill-icon skill-up"/>
	</div>
	<div class="col-xs-6 col-md-2 icons-container">
		<img src="http://www.freeiconspng.com/uploads/c--logo-icon-0.png" class="skill-icon"/>
	</div>
</div>

{{yield}}


{{yield}}
