/********************* WINDOW SIZER ************************/

html, body {
	height: 100%;
	width: 100%;
}

.ember-application > .ember-view {
	height: 100%;
	width: 100%;
}

#app-container, #app-window {
	height: 100%;
	width: 100%;
}

/****************** TOP BANNER STYLING *********************/

.profile {
	text-align: center;
}

.nav-links {
	text-align: center;
	margin-bottom: 1%;
	padding: 0 1% 0 1%;
	color: #2f4073;
}

.nav-button {
	border-radius: 5px;
	background-color: white;
	font-size: 1.5vw;
	width: 100%;
}

.nav-button:hover {
	background-color: #ccc;
	font-weight: bold;
}

.nav-button a {
	color: #2f4073;
	text-decoration: none;
}

.nav-button a:hover {
	text-decoration: none;
}

#top-banner {
	background-color: #2f4073;
	height: 100%;
	color: white;
	padding-top: 3%;
}

#profile-icons a {
	color: white;
}

#profile-icons a:hover {
	color: #ccc;
}

.nav-links {
	text-align: center;
	margin-bottom: 1%;
	color: #2f4073;
}

#profile-pic {
	width: 50%;
	border-radius: 50%;
}

#profile-banner {
	text-align: center;
}

#title {
	font-family: Impact, Charcoal, sans-serif;
	text-decoration: underline;
	font-size: 2.4vw;
}

#subtitle {
	font-size: 1.9vw;
}

#profile-icons {
	text-align: center;
	margin-bottom: 3%;
}

/***************** MAIN WINDOW STYLING *********************/

.content-window {
	padding: 0 0 0 0;
}

.content-section {
	padding: 0 1% 1% 1%;
	margin: 0 0 0 0;
}

.content-sectionB {
	margin-bottom: 3%;
	padding: 0 1% 1% 1%;
}

.color-main {
	background: rgba(22, 38, 86, 0.91);
	color: white;
}

.color-main a {
	color: white;
	text-decoration: underline;
}

.color-main a:hover {
	color: #7986ac;
}

.color-light {
	background: rgba(121, 134, 172, 0.93);
	color: white;
}

.color-light a {
	color: white;
	text-decoration: underline;
}

.color-light a:hover {
	color: #2f4073;
}

.color-secondary {
	background: rgba(36, 96, 104, 0.93);
	color: white;
}

.color-secondary a {
	color: white;
	text-decoration: underline;
}

.color-secondary a:hover {
	color: #aaaacd;
}

.color-secondary-faded {
	/*background: rgba(36, 96, 104, 0.73);*/
	background: rgba(71, 49, 120, 0.3);
	color: white;
}

.color-tertiary {
	/*background: rgba(164, 55, 65, 0.93);*/
	background: rgba(71, 49, 120, 0.93);
	color: white;
}

.color-tertiary a {
	color: white;
	text-decoration: underline;
}

.color-tertiary a:hover {
	color: #aaaacd;
}

.color-tertiary-light {
	/*background: rgba(205, 103, 113, 0.93);*/
	background: rgba(121, 134, 172, 0.93);
	color: white;
}

.heading {
	text-align: center;
	border-bottom: 1px solid black;
	padding: 0 0 0.5% 0;
}

.heading-white {
	text-align: center;
	border-bottom: 1px solid white;
	padding: 0 0 0.5% 0;
	color: white;
}

.heading-white a {
	color: white;
	text-decoration: none;
}

.heading-white a:hover {
	color: white;
	text-decoration: underline;
}

.content {
	text-align: center;
}

#app-body {
	overflow: auto;
	background-image: url("http://core0.staticworld.net/images/article/2015/08/virtual_reality_football_headset_gloves_primary-100602296-primary.idge.jpg");
	background-size: 100% 100%;
	height: 100%;
}

/******************** INDEX STYLING ************************/

#title-img {
	height: 300px;
	border-radius: 15px;
	opacity: 0.9;
}

.icons-container {
	text-align: center;
	margin-bottom: 1%;
}

.skill-icon {
	width: 35%;
}

.icons-adjustment {
	padding-top: 1%;
}

.skill-up {
	width: 45%;
}

.icon-fill {
	background-color: white;
	border-radius: 5px;
}

.project-img {
	width: 50%;
	border-radius: 5px;
}

.other-project-img {
	width: 90%;
	margin-bottom: 2%;
	border-radius: 15px;
}

.project-row {
	text-align: center;
}

.project-block {
	text-align: center;
	margin-bottom: 3%;
	border-radius: 15px;
	padding-top: 1%;
}

/******************* PROJECTS STYLING **********************/

.gallery-img {
	width: 65%;
	border-radius: 15px;
	margin-bottom: 3%;
}

/****************** INTERESTS STYLING **********************/

.tech-interests {
	padding: 0 0 0 0;
}

.song-button {
	background: rgba(141, 124, 178, 0.91);
	margin-bottom: 1%;
	border-radius: 5px;
}

.song-button:hover {
	background: rgba(102, 81, 148, 1);
	color: #190740;
}

/******************** MOBILE STYLING ***********************/

@media screen and (max-height: 450px) and (max-width: 767px) {

	#top-banner {
		height: auto;
	}

	#title {
		font-size: 10vw;
	}

	#subtitle {
		font-size: 8vw;
	}

	.nav-button {
		font-size: 5vw;
	}

	#app-body {
		height: auto;
		overflow: visible;
		padding: 0 0 0 0;
		background-size: auto;
	}

	.mobile-skill-adjust-down {
		width: 25%;
	}

	.mobile-skill-adjust-up {
		width: 55%;
	}

	.other-project-img {
		width: 50%;
	}

}