<div class="row content-section">
	<h1 class="heading-white">Portfolio</h1>
</div>
<div class="row content-section">
	<h3 class="heading-white">
		{{#link-to 'portfolio.avalon'}}Avalon{{/link-to}}
	</h3>
</div>
<div class="row content-section">
	<h3 class="heading-white">
		{{#link-to 'portfolio.reeltime'}}Reel Time{{/link-to}}
	</h3>
</div>
<div class="row content-section">
	<h3 class="heading-white">
		{{#link-to 'portfolio.labit'}}Laugh About It{{/link-to}}
	</h3>
</div>
<div class="row content-section">
	<h3 class="heading-white">
		{{#link-to 'portfolio.other'}}Other Projects{{/link-to}}
	</h3>	
</div>
<div class="row content-section">
	<h3 class="heading-white">
		{{#link-to 'portfolio.inprogress'}}In Progress Projects{{/link-to}}
	</h3>
</div>