<div id="app-container" class="container-fluid">
	<div id="app-window" class="row">
		<div id="top-banner" class="col-xs-12 col-sm-3">
			<div class="container-fluid">
				<div id="banner-content" class="row">
					<div class="profile col-xs-12 col-sm-12">
						<img id="profile-pic" src="/assets/images/Profile.jpg" />
					</div>
					<div id="profile-banner" class="col-xs-12 col-sm-12">
						<h1 id="title">C h a r l i e . T r a n</h1>
						<h3 id="subtitle">Software Engineer</h3>
					</div>
					<div id="profile-icons" class="col-xs-12 col-sm-12">
						<a href="https://www.linkedin.com/in/charlie-tran">
							<i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i>
						</a>
						<a href="https://github.com/cptran777">
							<i class="fa fa-github-square fa-5x" aria-hidden="true"></i>
						</a>
					</div>
				</div>		
			</div>	
		</div>
		<div id="app-body" class="col-xs-12 col-sm-9">
		{{outlet}}
		</div>
	</div>
</div>